<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header class="site-header">
    <div class="logo">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a th:href="@{/}">Main</a></li>
            <li><a th:href="@{/teachers}">Teachers</a></li>
            <li><a th:href="@{/groups}">Groups</a></li>
            <li><a th:href="@{/students}">Students</a></li>
            <li><a th:href="@{/road/graph}">Road</a></li>
        </ul>
    </nav>
</header>
<h1>Group List</h1>
<a th:href="@{/groups/create}">Create New Group</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}">1</td>
        <td th:text="${group.name}">Group Name</td>
        <td>
            <a th:href="@{/groups/{id}(id=${group.id})}">View</a>
            <a th:href="@{/groups/update/{id}(id=${group.id})}">Edit</a>
            <a th:href="@{/groups/delete/{id}(id=${group.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/groups/create}">Create New Group</a>
</body>
</html>