<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header class="site-header">
    <div class="logo">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a th:href="@{/}">Main</a></li>
            <li><a th:href="@{/teachers}">Teachers</a></li>
            <li><a th:href="@{/groups}">Groups</a></li>
            <li><a th:href="@{/students}">Students</a></li>
            <li><a th:href="@{/road/graph}">Road</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h1>Welcome to the Royal Academy of Fine Arts Antwerp </h1>
            <div class="image-container">
        <img class="centered-image" th:src="@{/images/photo22.jpg}" alt="">
            </div>
    </section>
</main>
</body>
</html>